// colors
@white:                   #ffffff;
@black:                   #000000;
@light-white:             #fcfcfc;
@brand-primary:           #ef4136;
@brand-secondary:         #3081ff;
@link-color-blue:         #5595F9;
@primary-grey:            #131313;
@light-grey:              #edf3f7;
@color-text:              #a9b0bf;
@color-text-thumbs:       #90959e;
@carousel-dots-color:     #c8cfd9;

@color-temp:              rgba(255,0,0,.2);
@color-temp2:             rgba(255,255,0,.2);

// Social brand colors
@brand-facebook:          #3b5998;
@brand-twitter:           #55acee;
@brand-google:            #dc4e41;
@brand-youtube:           #cd201f;
@brand-mail:              #7c7e81;
@brand-linkedin:          #0077b5;

// Fonts
@primary-font: 'Lato', sans-serif;
@icon-font: "loopvids";
