/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
    CSS3 Less Mixins by css-tricks
  ---------------------------------------------------
    A set LESS mixins
    More info at: https://css-tricks.com/snippets/css/useful-css3-less-mixins/
  ---------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i);
@font-face {
  font-family: "pixelquiz";
  src: url("/assets/fonts/pixelquiz.eot");
  src: url("/assets/fonts/pixelquiz.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/pixelquiz.woff") format("woff"), url("/assets/fonts/pixelquiz.ttf") format("truetype"), url("/assets/fonts/pixelquiz.svg#loopvids") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "pixelquiz" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pixelquiz" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dot:before {
  content: "\61";
}
.icon-message:before {
  content: "\62";
}
.icon-play:before {
  content: "\63";
}
.icon-trophy:before {
  content: "\64";
}
.icon-window:before {
  content: "\65";
}
.icon-window-single:before {
  content: "\66";
}
* {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clerafix:after {
  clear: both;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  background: transparent url(../imgs/pixelquiz.jpg) no-repeat center -777px;
}
body {
  background-color: #303242;
  color: #7b7f9b;
  font-style: normal;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding: 0;
  margin: 0;
  height: 1430px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  outline: none !important;
  outline: 0 !important;
}
a:active {
  outline: none !important;
  outline: 0 !important;
}
.half-padding {
  padding: 5px;
}
.no-padding {
  padding: 0 !important;
}
.color-temp {
  background-color: rgba(255, 0, 0, 0.2);
}
.pink {
  background-color: rgba(255, 255, 0, 0.2);
}
.no-tp {
  padding-top: 0 !important;
}
.no-bp {
  padding-bottom: 0 !important;
}
.no-lp {
  padding-left: 0 !important;
}
.no-rp {
  padding-right: 0 !important;
}
.no-tm {
  margin-top: 0 !important;
}
.no-bm {
  margin-bottom: 0 !important;
}
.no-lm {
  margin-left: 0 !important;
}
.no-rm {
  margin-right: 0 !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.top-space {
  margin-top: 3em;
}
.half-top-space {
  margin-top: 2em;
}
.top-pad {
  padding-top: 3em;
}
.half-top-pad {
  padding-top: 2em;
}
.bottom-border {
  border-bottom: 1px solid rgba(189, 196, 208, 0.58);
}
.top-border {
  border-top: 1px solid rgba(189, 196, 208, 0.58);
}
.border {
  border-top: 1px solid rgba(189, 196, 208, 0.58);
  border-bottom: 1px solid rgba(189, 196, 208, 0.58);
}
#outdated {
  background-color: rgba(31, 32, 36, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1500;
}
#outdated .wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 255px;
  padding: 2em;
}
#outdated .wrapper h6 {
  font-family: 'Press Start 2P', cursive !important;
  font-size: 25px;
  line-height: 25px;
  margin: 30px 0 10px;
}
#outdated .wrapper p {
  font-family: 'Press Start 2P', cursive !important;
  font-size: 12px;
  line-height: 12px;
}
#outdated .wrapper #btnUpdateBrowser {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 30px auto 0;
  width: 225px;
  text-decoration: none;
  border: 2px solid #fff;
  cursor: pointer;
}
#outdated .wrapper #btnUpdateBrowser:hover {
  color: #f25648;
  background-color: #fff;
}
#outdated .wrapper .last {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 15px;
  height: 15px;
}
#outdated .wrapper #btnCloseUpdateBrowser {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 36px;
}
* html #outdated {
  position: absolute;
}
.col-container {
  float: left;
  width: 100%;
}
.col-container .col-left,
.col-container .col-right {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.col-container .col-left {
  padding-right: 18px;
  background: #303242;
}
.col-container .col-left.min {
  width: 43.2%;
}
.col-container .col-full {
  padding-right: 18px;
  background: rgba(255, 0, 0, 0.2);
}
.col-container .col-right {
  padding-left: 15px;
}
.col-container .col-right.max {
  width: 56.8%;
}
.main-container {
  margin: 0 auto;
  max-width: 960px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  margin-top: -15px;
}
h1.logo {
  font-size: 3.5em;
  color: #ffffff;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  padding-top: 1em;
  margin-bottom: 0.4em;
}
h1.logo .clr-orange {
  margin-left: -5px;
  margin-right: 5px;
}
h1.logo .clr-green {
  margin-left: 5px;
}
h1.logo .clr-blue {
  margin-left: -5px;
}
.clr-red {
  color: #ed2425;
}
.clr-orange {
  color: #f1683f;
}
.clr-yellow {
  color: #fed000;
}
.clr-green {
  color: #4abc42;
}
.clr-blue {
  color: #00a6f1;
}
.clr-white {
  color: #ffffff;
}
.clr-grey {
  color: #303242;
}
.register-form-container {
  float: left;
  width: 100%;
  text-align: center;
}
.register-form-container h4 {
  font-family: 'Cabin', sans-serif;
  color: #f1683f;
  font-size: 1.35em;
  margin-top: 0.8em;
  margin-bottom: 0.9em;
}
.register-form-container form.register-form input[type="text"] {
  background: #ffffff;
  color: #303242;
  font-family: 'Press Start 2P', cursive;
  width: 592px;
  border: 0;
  height: 77px;
  padding: 0 0 0 0.7em;
  font-size: 1.8em;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -10px;
}
.register-form-container form.register-form input[type="text"]::-webkit-input-placeholder {
  color: #c7cae3;
}
.register-form-container form.register-form input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #c7cae3;
}
.register-form-container form.register-form input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #c7cae3;
}
.register-form-container form.register-form input[type="text"]:-ms-input-placeholder {
  color: #c7cae3;
}
.register-form-container form.register-form input[type="text"]:focus {
  outline: none;
}
.register-form-container form.register-form a.rf-btn {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.register-form-container form.register-form a.rf-btn span.icon-play {
  color: #f1683f;
  font-size: 4.8em;
  position: absolute;
  top: -37px;
  left: -7px;
  z-index: 2;
}
.register-form-container form.register-form a.rf-btn span.play {
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #f1683f;
  font-weight: 600;
  z-index: 1;
  top: -9px;
  left: 11px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.register-form-container form.register-form a.rf-btn:hover {
  text-decoration: none;
}
.register-form-container form.register-form a.rf-btn:hover span.play {
  left: 64px;
}
.game-info {
  float: left;
  width: 100%;
  margin-top: 4em;
}
.game-info h3 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 0.6em;
}
.game-info p {
  position: relative;
  z-index: 5;
  font-size: 1.1em;
  line-height: 1.35;
  font-weight: 600;
}
.game-info .frame-rules {
  border: 22px solid #3c3f52;
  padding: 24px;
  position: relative;
}
.game-info .frame-rules .icon-window {
  background: #303242;
  color: #3c3f52;
  font-size: 7.8em;
  position: absolute;
  top: -42px;
  right: -36px;
  padding: 20px 14px 0 25px;
}
.game-info .frame-rules p {
  margin: 0;
}
.game-info .frame-rules p:first-of-type {
  width: 75%;
}
.game-info .frame-points {
  border: 22px solid #3c3f52;
  width: 90%;
  padding: 24px;
  position: relative;
}
.game-info .frame-points .icon-trophy {
  background: #303242;
  color: #3c3f52;
  font-size: 10.7em;
  position: absolute;
  top: -64px;
  right: -90px;
  padding: 20px 22px 0 25px;
  line-height: 0.8;
}
.game-info .frame-points p {
  margin: 0 0 31px 0;
}
.game-info .frame-points p:first-of-type {
  width: 85%;
}
.main-holder {
  float: left;
  width: 100%;
  margin-top: -9px;
  background: #303242;
  padding-bottom: 6.4em;
}
.game-play {
  float: left;
  width: 100%;
  margin-top: 9.5em;
}
.game-play .legend-time {
  position: absolute;
  width: 100%;
  top: -97px;
  left: 101px;
  z-index: 5;
}
.game-play .legend-time p {
  text-align: right;
  float: left;
  font-size: 1.15em;
  font-weight: 600;
  color: #f1683f;
}
.game-play .legend-time p span {
  font-style: italic;
}
.game-play .frame-stage {
  border: 22px solid #3c3f52;
  padding: 26px 24px 24px 24px;
  position: relative;
}
.game-play .frame-stage .icon-window-single {
  background: #303242;
  color: #3c3f52;
  font-size: 8em;
  position: absolute;
  top: -145px;
  right: -36px;
  padding: 20px 13px 0 25px;
  line-height: 1.1;
  height: 171px;
}
.game-play .frame-stage .icon-window-single .counter {
  position: relative;
  font-size: 0.23em;
  font-family: 'Press Start 2P', cursive;
  top: -110px;
  left: 4px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.game-play .frame-stage .image-container {
  overflow: hidden;
  background: #3c3f52;
  display: block;
  height: 305px;
  width: 305px;
  padding: 0;
  position: relative;
}
.game-play .frame-statusboard {
  border: 22px solid #3c3f52;
  width: 100%;
  padding: 24px;
  position: relative;
  float: left;
  height: 399px;
}
.game-play .frame-statusboard .icon-message {
  background: #303242;
  color: #3c3f52;
  font-size: 9.1em;
  position: absolute;
  top: -134px;
  right: -47px;
  padding: 20px 22px 0 25px;
  line-height: 1.1;
}
.game-play .frame-statusboard .player-name {
  position: absolute;
  width: 100%;
  top: -91px;
  left: -143px;
  z-index: 5;
}
.game-play .frame-statusboard .player-name p {
  text-align: right;
  float: right;
  font-size: 1.2em;
  font-weight: 600;
  color: #f1683f;
}
.game-play .frame-statusboard .player-name p span {
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  font-size: 1.4em;
  position: relative;
  top: 3px;
}
ul.status-thread {
  position: relative;
  z-index: 10;
  min-height: 306px;
  max-height: 306px;
  overflow-y: auto;
  overflow-x: auto;
}
ul.status-thread li {
  list-style: none;
  float: left;
  width: 100%;
  position: relative;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px;
}
ul.status-thread li:nth-child(odd) {
  background: #343647;
}
ul.status-thread li:nth-child(even) {
  background: #3c3f52;
}
ul.status-thread li p {
  float: left;
  width: 95%;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}
ul.status-thread li p .player {
  margin-right: 5px;
}
ul.status-thread li .answer-status {
  position: absolute;
  right: 13px;
  top: 14px;
}
ul.status-thread li .answer-status span {
  font-size: 1.1em;
}
.answer-form-container {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 2.7em;
}
.answer-form-container h4 {
  font-family: 'Cabin', sans-serif;
  color: #f1683f;
  font-size: 1.35em;
  margin-top: 0.8em;
  margin-bottom: 0.9em;
}
.answer-form-container form.answer-box input[type="text"] {
  background: #ffffff;
  color: #303242;
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  border: 0;
  height: 77px;
  padding: 0.5em 1em 0 1em;
  font-size: 1.3em;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.answer-form-container form.answer-box input[type="text"]::-webkit-input-placeholder {
  color: #c7cae3;
}
.answer-form-container form.answer-box input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #c7cae3;
}
.answer-form-container form.answer-box input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #c7cae3;
}
.answer-form-container form.answer-box input[type="text"]:-ms-input-placeholder {
  color: #c7cae3;
}
.answer-form-container form.answer-box input[type="text"]:focus {
  outline: none;
}
.results-holder {
  float: left;
  width: 100%;
  background: #b9c5ee;
  padding-top: 5.6em;
  padding-bottom: 6.4em;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.frame-score-results {
  border: 22px solid #a1b0e1;
  width: 100%;
  padding: 24px;
  position: relative;
  float: left;
}
.frame-score-results h3 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}
.frame-score-results .icon-trophy {
  background: #b9c5ee;
  color: #a1b0e1;
  font-size: 10.9em;
  position: absolute;
  top: -65px;
  right: -62px;
  padding: 20px 22px 0 25px;
  line-height: 0.7;
}
ul.results-list {
  position: relative;
  z-index: 10;
  width: 84%;
}
ul.results-list li {
  list-style: none;
  float: left;
  width: 100%;
  position: relative;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px;
}
ul.results-list li:nth-child(odd) {
  background: #c1cdf4;
}
ul.results-list li:nth-child(even) {
  background: #b2c1ef;
}
ul.results-list li p {
  float: left;
  width: 100%;
  margin: 0;
  font-weight: 700;
  color: #303242;
}
ul.results-list li p .player {
  text-align: left;
}
ul.results-list li p .score {
  float: right;
  text-align: right;
}
ul.results-list li .final-score {
  position: absolute;
  right: -58px;
  top: 14px;
  color: #303242;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3em;
}
